*
{
    margin:0px;
    padding:0px;
}

body {
    background-image: url('/wdd130/wwr/images/raftingdate.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    background-position: center;
    text-align: center;
  }

nav {
    background-color: #EDDDD4;
    line-height: 2em;
    text-align: center;
    font-size: 1.2em;
    display: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    border: ridge;
    border-top: none;
    border-color:#283D3B;
    border-width: 3px;
    
  }
nav a {
    padding:0.33em;
    min-width: 120px;
    text-decoration: none;
    margin:2em;
    color:#197278;
    text-align: center;
  }
nav a:hover{
    background-color: #283D3B;
    color:#EDDDD4;
}

h1{
    background-color: #197278;
    padding-top: .5em;
    padding-bottom: .5em;
    margin:0px;
    color: #EDDDD4;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border: ridge;
    border-width: 3px;
    border-bottom: none;
    border-color: #283D3B;
    text-align: center;
}

.panel {
   
    background-color: rgb(25, 114, 120,.8);
    margin: 5%;
    width: 25vw;
    height: fit-content;
    border: groove;
    border-color:#283D3B;
    color:white;
    float:left;
    margin-left:12%;
    padding: 2%;
    text-align: center;
}

h2{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color:#EDDDD4;
}

.paragraph{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    padding: 1em;
    line-height: 2em;
    color:#EDDDD4;
    text-align: justify;
}

.button{
    color:#283D3B;
    padding: 1em 4em;
    background-color: #EDDDD4;
    text-decoration: none;
    margin-left: 25%;
    border: groove;
    border-color: #283D3B;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.panel a:hover{
    background-color: #283D3B;
    color:#EDDDD4;
    border-color:#EDDDD4
}

footer{
    background-color:#197278;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

.logo{
    width:80px;
}