*
{
    margin:0px;
    padding:0px;
}

body {
    background-image: url('/wdd130/wwr/images/raftingdate.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    background-position: center;
    text-align: center;
  }

nav {
    background-color: #EDDDD4;
    line-height: 2em;
    text-align: center;
    font-size: 1.2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height:3em;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    border: ridge;
    border-top: none;
    border-color:#283D3B;
    border-width: 3px;
    
  }
nav a {
    padding:.5em;
    min-width: 120px;
    text-decoration: none;
    color:#197278;
    text-align: center;
  }
nav a:hover{
    background-color: #283D3B;
    color:#EDDDD4;
}

h1{
    background-color: #197278;
    padding-top: .5em;
    padding-bottom: .5em;
    margin:0px;
    color: #EDDDD4;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border: ridge;
    border-width: 3px;
    border-bottom: none;
    border-color: #283D3B;
    text-align: center;
}

.panel {
   
    background-color:rgb(237, 221, 212,0.7);
    margin: 5%;
    width: 25vw;
    height: fit-content;
    border: groove;
    border-color:#283D3B;
    color:white;
    float:left;
    margin-left:12%;
    padding: 2%;
    text-align: center;
}

h2{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color:#283D3B;
}

.paragraph{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 1em;
    line-height: 2em;
    color:#283D3B;
    text-align: justify;
}

.button{
    color:#EDDDD4;
    padding: 1em 4em;
    background-color:#197278;
    text-decoration: none;
    border: groove;
    border-color: #283D3B;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.panel a:hover{
    background-color: #283D3B;
    color:#EDDDD4;
    border-color:#EDDDD4
}

footer{
    background-color:#197278;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

.logo{
    width:70px;
    margin-left: 10em;
}

section{
    padding: 1em;
    text-align: center;
    color:#EDDDD4;
    margin: 1em;
    font-family: 'Poppins', sans-serif;
}

section a{
    text-decoration: none;
    color:#283D3B;
    border:solid #EDDDD4 2px;
    background-color:#EDDDD4;
    padding:1em;
    font-family: 'Poppins', sans-serif;
}

.imgborder{
    border:solid #EDDDD4 5px;
}

.icon {
    border:solid #EDDDD4 5px;
}
h4{
    margin-bottom:1em;
}
.site{
    margin: 1.2em;
}
.copy{
    margin-top: 1em;
}